<div @pageLoadingAnimation class="d-flex align-items-center justify-content-center">
  <div class="mt-5 col-4">
    <h1 class="text-center" style="font-size: 48px">Hello,, User!!!</h1>
    <div class="d-flex justify-content-end">
      <a [routerLink]="routes.create"  class="btn button-primary">+ ADD NEW</a>
    </div>

    <ng-container *ngIf="employeesResponse | async as rs" >
      <ng-container *ngIf="!rs.loading; else loading">
        <ng-container *ngIf="!rs.error; else notFound">
          <app-employee-list-item *ngFor="let employee of rs.object" [employee]="employee"></app-employee-list-item>
        </ng-container>
      </ng-container>
    </ng-container>

  </div>

</div>

<ng-template #notFound>
  <app-not-found></app-not-found>
</ng-template>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
